assets
autostart
StardewValley
Code
discord
Electron
gh
glib-2.0
google-chrome
google-chrome-backup-crashrecovery-20250619_115742
heroic
JetBrains
mako
matplotlib
menus
micro
nwg-look
obsidian
Postman
Preview
psd
pulse
pupgui
qt5ct
qtvirtualkeyboard
r2modman
r2modmanPlus-local
session
swaylock
systemd
Thunar
unity3d
wal
waypaper
wofi
cachyos-hello.json
dolphinrc
gwenviewrc
kdeglobals
kiorc
knfsshare
ktrashrc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale